$body-bg: #000000;
$body-color: #ffffff;
$font-family-base: 'Roboto';
$pagination-color: $body-bg;
$pagination-bg: $body-color;
$pagination-hover-color: $body-bg;
$pagination-hover-bg: #cccccc;
$pagination-hover-border: $pagination-hover-bg;
$pagination-active-color: $body-color;
$pagination-active-bg: #777777;
$pagination-active-border: $pagination-active-bg;