<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/bundle.js"></script>
</body>
</html>